/**********************************************
* Global
**********************************************/

*{
	font-family: "Open Sans";
}

html{
	background-image: url(images/bg.jpg);
	background-repeat: repeat;
}

h2{
	background-color: rgba(28, 180, 195, 0.8);
	color: black;
	font-size: 1.6em;
	padding: 20px;
	font-weight: bold;
    vertical-align:middle;
	border-radius:5px 5px 0px 0px;
	-moz-border-radius:5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
}

th{
	font-size: 1.5em;
	text-align:center; 
    vertical-align:middle;
	height: 50px;
	border-bottom: 2px solid white;
	font-weight: bold;
}

td{
	text-align:center; 
    vertical-align:middle;
	height: 30px; 
	border-bottom: 1px solid gray;
}

/**********************************************
* Banner
**********************************************/

#banner_title{
	text-align: center;
	font-size: 1.3em;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

/**********************************************
* Bills
**********************************************/

#bill_main_div{
	margin: auto;
	top: 2vh;
	z-index:0;
	width: 75%;
	color: white;
}

.bill_div{
	position: relative; 
	background-color: rgba(0, 0, 0, 0.8);
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-bottom:2vh;
}

.bill_table{
	color: white;
	width: 100%;
    table-layout: fixed;
	border-spacing: 0;
}

.bill_check{
	transform: scale(1.5);
	border: none;
	outline: none;
}

.bill_buttons_div h2{
	margin: 0;
}

.bill_buttons_div input{
	float: right;
	margin-left: 10px;
	border: none;
	outline: none;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.bill_buttons_div input:hover{
	background:rgba(255, 253, 248, 0.8);
}

.bill_input_div{
	background-color: rgba(28, 180, 195, 0.8);
	text-align: center;
	border: none;
	outline: none;
	padding: 10px;
}

.bill_input_div input{
	width: 50vh;
	text-align: center;
	margin: 0.5vh;
	border: none;
	height: 2.5vh;
	border-radius:5px
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

/**********************************************
* Buttons
**********************************************/

#input_price{
}

#input_remove{
}

#input_add{
}
